.display-4 {
    font-family: 'Righteous', cursive !important;
}
.jumbo{
    background: url("/backgroundimg.jpeg") center center;
    background-size: cover;
    padding-top:40px;
}
/* .container{
     padding-top: 15px;
     padding-bottom: 15px;
} */
.backgroundlogin{
    background: url("/backgroundlogin.jpg") center center;
    background-size: cover;
    

}