
.aboutUsView{
    min-height: 85vh;
     /* background: url("/backgroundabout.jpeg") center center; */
    background-image: linear-gradient(to right, white,rgb(235, 195, 162),silver);
    background-size: cover;
    color: black;
}

   