.display-4 {
    font-family: 'Righteous', cursive !important;
}
.jumbo{
    background: url("/backgroundimg.jpeg") center center;
    background-size: cover;
    padding-top:40px;
    min-height: 10vh;
    margin-bottom: 0;
    padding-bottom: 0;
}


.search{
    margin-left: 30%;
    margin-right: 30%;
}

