h2{
  font-family: "Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  padding-top: 10%;
  padding-bottom: 5%;
  
}
.containertech{
  margin-bottom: 15%;
  text-align: center;   
}
.rowtech {
  padding: 20px;
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
  justify-content: center;
  
}

/* Create four equal columns that sits next to each other */
.columntech {
  flex-direction: column;
  align-items: center !important;
  padding-top: 5%;
 justify-content: center;
 
}

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .columntech {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .columntech {
    flex: 100%;
    max-width: 100%;
  }
} */ 